extends client_layout

block content
	div(id='status')
		p(id='info')
	div(class='control')
		canvas#mainui(width='587', height='587')
			img#background(src='/img/NewNomads_backgroundImage.png')


	div(id='login')
		form(id='login-form')
			label="Enter your name:"
			input(id='namefield', type='text')
			button(id='enter_name') Submit

	div(id='phrase-entry')
		form(id='phrase-form')
			label="What is your message?"
			input(id='phrasefield', type='text')
			button(id='enter_phrase') Submit			

	div(id='loader')
			p Loading...