extends client_layout

block content
	div(id='status')
		p(id='info')
	div(class='control')
		div(id='zone1', class='zone', data-location='Zone 1')
			p.
				Zone 1
		div(id='zone2', class='zone', data-location='Zone 2')
			p.
				Zone 2
		div(id='zone3', class='zone', data-location='Zone 3')
			p.
				Zone 3
		div(id='zone4', class='zone', data-location='Zone 4')
			p.
				Zone 4
	div(class='control')
		div(id='zone5', class='zone', data-location='Zone 5')
			p.
				Zone 5
		div(id='zone6', class='zone', data-location='Zone 6')
			p.
				Zone 6
		div(id='zone7', class='zone', data-location='Zone 7')
			p.
				Zone 7
		div(id='zone8', class='zone', data-location='Zone 8')
			p.
				Zone 8
	div(class='control')
		div(id='zone9', class='zone', data-location='Zone 9')
			p.
				Zone 9
		div(id='zone10', class='zone', data-location='Zone 10')
			p.
				Zone 10
		div(id='zone11', class='zone', data-location='Zone 11')
			p.
				Zone 11
		div(id='zone12', class='zone', data-location='Zone 12')
			p.
				Zone 12
	div(class='control')
		div(id='zone13', class='zone', data-location='Zone 13')
			p.
				Zone 13
		div(id='zone14', class='zone', data-location='Zone 14')
			p.
				Zone 14
		div(id='zone15', class='zone', data-location='Zone 15')
			p.
				Zone 15
		div(id='zone16', class='zone', data-location='Zone 16')
			p.
				Zone 16
	
	div(id='login')
		form(id='login-form')
			label="Enter your name:"
			input(id='namefield', type='text')
			button(id='enter_name') Submit

	div(id='phrase-entry')
		form(id='phrase-form')
			label="What is your message?"
			input(id='phrasefield', type='text')
			button(id='enter_phrase') Submit			

	div(id='loader')
			p Loading...