body{
	width:100%;
	margin:0;
	background-color:#000;
	color:#999;
}

#status{
	width:50%;
	margin:auto;
}

#mainui{
	display:block;
	margin-top:0em;
	margin-left:auto;
	margin-right:auto;
	
}

#background {
    display: none;
}

#loader{
	width:100%;
	height:100%;
	position:absolute;
	top:0em;
	bottom:0em;
	background-color:#efefef;
}

.control{
	margin:auto;
	width:100%;
	display:block;
	position:relative;
}

.zone{
	width:20%;
	float:left;
	border-color: #333;
	border-style: solid;
	border-width: .2em;
	border-radius: .5em;
	background-color:#999;
	margin: .5em;
}

#login{
	display:block;
	width:100%;
	height:100%;
	position:fixed;
	top:0em;
	bottom:0em;
	background-color:#efefef;
	color:#000;
}

#login-form{
	width:130px;
	height:50%;
	top:auto;
	margin:auto;
	position:relative;
}

#description{
	width:400px;
	height:auto;
	
	margin:3em auto 3em auto;
	position:relative;
}

#xy-instruction{
	width:380px;
	height:auto;
	font-size: 2em;
	margin:0 auto auto auto;
	position:relative;
}

#chat-log-container{
	position:absolute;
	width:800px;
	height:600px;
	top:0;
}

#chat-entry{
	display:block;
	width:auto;
	height:100%;
	position:relative;
}

#chat-form{
	width:130px;
	height:auto;
	margin:0em auto 5em auto;
	position:relative;
	opacity:1.0;
}

#phrase-instruction{
	width:380px;
	height:auto;
	font-size: 2em;
	margin:0 auto auto auto;
	position:relative;
}

#phrase-entry{
	display:block;
	width:auto;
	height:100%;
	position:relative;
}

#phrase-form{
	width:300px;
	height:auto;
	margin:0em auto 5em auto;
	position:relative;
	opacity:1.0;
}

input {
		display:block;
		margin-top:1em;
		margin-bottom:1em;
}

label { 
		display:block;
}

button{
	display:inline-block;
	margin-right:1em;
}

/* Mobile device form formatting */
@media only screen and (max-device-width: 480px) {

	input[type="text"], input[type="password"], input[type="phone"],  textarea {
        font-size:2em;
	}

	label{
		font-size:2em;
	}

	button{
		font-size:2em;
	}

	#login-form{
		width:420px;
	}

	#phrase-form{
		width:400px;
	}
}