extends auksalaq_client_layout

block content

	div(class='control')
		canvas#mainui(width='500', height='500')
			img#background(src='/img/auksalaqbg_sq.jpg')
			
	div(id='debug')
	div(id='phrase-entry')
		form(id='phrase-form')
			label="Contribute to the thought cloud"
			input(id='phrasefield', type='text' autocomplete='off')
			button(id='enter_phrase') Submit			
			

	div(id='chat')
		div(id='chat-log-container')
			ul(id='chat-log' class='wordwrap')
				

		form(id='chat-form')
			label="Enter your discussion message"
			input(id='chat_message', type='text' autocomplete='off')
			button(id='enter_chat') Submit			
						

	div(id='xy-instruction')
		p Touch and drag your element on the image to interact with the system.

	div(id='login')
		div#description
			center
				h1
					|Auksalaq NOMADS
				p
					|Welcome to the Auksalaq NOMADS system
					

		form(id='login-form')
			label="Your Name:"
			input(id='namefield', type='text')
			button(id='enter_name') Submit
	

	div(id='loader')
			p Loading...

	audio(id='sound0', class='sounds')
		source(src='/audio/auksalaq/sound-0.mp3', type='audio/mpeg')

	audio(id='sound1', class='sounds')
		source(src='/audio/auksalaq/sound-1.mp3', type='audio/mpeg')

	audio(id='sound2', class='sounds')
		source(src='/audio/auksalaq/sound-2.mp3', type='audio/mpeg')

	audio(id='sound3', class='sounds')
		source(src='/audio/auksalaq/sound-3.mp3', type='audio/mpeg')

	audio(id='sound4', class='sounds')
		source(src='/audio/auksalaq/sound-4.mp3', type='audio/mpeg')
	
	audio(id='sound5', class='sounds')
		source(src='/audio/auksalaq/sound-5.mp3', type='audio/mpeg')

	audio(id='sound6', class='sounds')
		source(src='/audio/auksalaq/sound-6.mp3', type='audio/mpeg')

	audio(id='sound7', class='sounds')
		source(src='/audio/auksalaq/sound-7.mp3', type='audio/mpeg')

	audio(id='sound8', class='sounds')
		source(src='/audio/auksalaq/sound-8.mp3', type='audio/mpeg')

	audio(id='sound9', class='sounds')
		source(src='/audio/auksalaq/sound-9.mp3', type='audio/mpeg')

	audio(id='sound10', class='sounds')
		source(src='/audio/auksalaq/sound-10.mp3', type='audio/mpeg')

	